@import "tailwindcss";

.home-layout {
  background-color: #f8f8f8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #111111;
  gap: 40px;
  padding: 40px;
  padding-bottom: 15vh; 
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #f8f8f8;
  color: #111111;
  /* Tells the website to use the Inter font first and if that doesn't work out fallback to Arial */
  font-family: var(--font-jetbrains), Arial, Helvetica, sans-serif;
}

/* Home Page Hat Buttons */
.arrow-btn {
  background-color: transparent;
  border: 1px solid #e0e0e0;
  color: #aaa;
  width: 36px;
  height: 36px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border-color 0.2s, color 0.2s;
}

.arrow-btn:hover {
  border-color: #999;
  color: #333;
}

.arrow-label {
  font-family: var(--font-jetbrains), monospace;
  font-size: 9px;
  color: #ccc;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.ghost-btn {
  background-color: #111111;
  color: #ffffff;
  padding: 14px 32px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  transition: background-color 0.2s;
}

.ghost-btn:hover {
  background-color: #333333;
}